/.metadata/
/workspace/
cachedir/
*.log
__pycache__/
/tmp/
modelio/*/*/bin
modelio/*/*/target
modelio/*/*/runtime/bin
features/*/*/target
products/target
dev-platform/rcp-target/rcp-eclipse/launcher-arm64/target
dev-platform/rcp-target/rcp-eclipse/macos-arm64/target
dev-platform/rcp-target/.project
dev-platform/rcp-target/_sidecars/
dev-platform/rcp-target/**/__pycache__/
dev-platform/rcp-target/**/slice-cache/
dev-platform/rcp-target/**/target/
dev-platform/rcp-target/**/*.jar
!dev-platform/rcp-target/javax/jaxb/features/org.modelio.jaxb.feature_2.1.1.jar
!dev-platform/rcp-target/javax/jaxb/plugins/org.modelio.jaxb_2.1.1.jar
!dev-platform/rcp-target/modelio-integ/apache/jena/plugins/com.modeliosoft.modelio.jena.source_3.0.1.jar
!dev-platform/rcp-target/modelio-integ/apache/jena/plugins/com.modeliosoft.modelio.jena_3.0.1.jar
!dev-platform/rcp-target/modelio-integ/apache/tika/features/org.modelio.tika.feature_1.14.0.jar
!dev-platform/rcp-target/modelio-integ/apache/tika/plugins/org.modelio.tika_1.14.0.jar
!dev-platform/rcp-target/modelio-integ/apache/xerces/plugins/com.modeliosoft.modelio.xerces_2.12.1.jar
!dev-platform/rcp-target/modelio-integ/oauth/oauth/plugins/com.modeliosoft.modelio.oauth-2.3.0.jar
!dev-platform/rcp-target/modelio-integ/org.astyle/astyle/features/org.modelio.astyle.feature_1.23.0.jar
!dev-platform/rcp-target/modelio-integ/org.astyle/astyle/plugins/org.modelio.astyle.linux.gtk.x86_64_1.23.0.jar
!dev-platform/rcp-target/modelio-integ/org.astyle/astyle/plugins/org.modelio.astyle.macosx.cocoa.x86_64_1.23.0.jar
!dev-platform/rcp-target/modelio-integ/org.astyle/astyle/plugins/org.modelio.astyle.win32.win32.x86_64_1.23.0.jar
!dev-platform/rcp-target/modelio-integ/org.jdbm/jdbm/plugins/jdbm_2.4.0.jar
!dev-platform/rcp-target/modelio-integ/sf-practicalxml/praticalxml/plugins/practicalxml_1.1.13.jar
!dev-platform/rcp-target/rcp-eclipse/eclipse-2026-03/plugins/com.jcraft.jsch_0.1.55.v20230916-1400.jar
!dev-platform/rcp-target/rcp-eclipse/eclipse-2026-03/plugins/com.jcraft.jsch.source_0.1.55.v20230916-1400.jar
!dev-platform/rcp-target/rcp-eclipse/eclipse-2026-03/plugins/org.sat4j.core.source_2.3.6.v20201214.jar
!dev-platform/rcp-target/rcp-eclipse/eclipse-2026-03/plugins/org.sat4j.core_2.3.6.v20201214.jar
!dev-platform/rcp-target/rcp-eclipse/eclipse-2026-03/plugins/org.sat4j.pb.source_2.3.6.v20201214.jar
!dev-platform/rcp-target/rcp-eclipse/eclipse-2026-03/plugins/org.sat4j.pb_2.3.6.v20201214.jar
dev-platform/rcp-target/**/*.html
dev-platform/rcp-target/**/*.properties
dev-platform/rcp-target/**/*.SF
dev-platform/rcp-target/**/*.RSA
dev-platform/rcp-target/**/*.png
dev-platform/rcp-target/**/*.jpg
dev-platform/rcp-target/**/*.css
dev-platform/rcp-target/**/*.js
dev-platform/rcp-target/**/*.xz
dev-platform/rcp-target/**/*.zip

doc/plugins/*/*/target
doc/plugins/*/*/html/*
doc/plugins/*/*/nl/*/html/*
!doc/plugins/*/documentation.metamodel.uml/html/*
!doc/plugins/*/documentation.metamodel.archimate/html/*
!doc/plugins/*/documentation.modelioapi.org/html/*
!doc/plugins/*/documentation.welcome.org/html/*
!doc/plugins/*/documentation.welcome.org/nl/*/html/*
doc/features/*/*/target
